.profile {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: #333 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    background-color: #5f5f5f;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.tag {
    font-size: 18px;
    color: rgb(92, 92, 92);
}

.location {
    font-size: 18px;
    color: rgb(92, 92, 92);
}

.stats {
    list-style: none;
    display: flex;
}

.stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3px;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 10px;
}