.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 300px;
    margin: 50px auto;
    padding-top: 20px;
    background-color: #FAFAFA;
    border: 2px solid #212121;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    background-color: #2A2A2A;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.tag {
    font-size: 18px;
    color: #808080;
}

.location {
    font-size: 18px;
    color: #808080;
}

.stats {
    list-style: none;
    display: flex;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #D3D3D3;
}

.stats li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px;
    border-top: 1px solid #808080;
    border-right: 1px solid #808080;
}

.stats li:last-child {
    border-right: none;
}

.stats li>:nth-child(2) {
    font-weight: 600;
}