* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.friend-list {
    display: flex;
    padding: 10px;
    margin: 0;
}

.friend-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    background-color: #f9f9f9;
}

.friend-avatar {
    border-radius: 50%;
    margin-right: 15px;
}

.friend-name {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.friend-status {
    font-size: 14px;
}

.friend-status.online {
    color: green;
}

.friend-status.offline {
    color: red;
}