* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.profile {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: #333 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #333;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tag {
    font-size: 18px;
    color: gray;
    margin-bottom: 10px;
}

.location {
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
}

.stats {
    list-style: none;
    display: flex;
}

.stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px;
    border: 1px solid #333;
}