* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.transactionHistory {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.transactionHead {
    background-color: #333;
    color: #fff;
}

.transactionHead th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.transactionBody td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    text-transform: capitalize;
}

.transactionBody td:first-child {
    text-align: left;
    width: 100px;
}

.transactionBody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.transactionBody tr:hover {
    background-color: #f1f1f1;
}