.transactionHistory {
    width: 100%;
    border-collapse: collapse;
    margin: 50px 0;
    font-family: Arial, sans-serif;
}

.transactionHead {
    background-color: #2A2A2A;
    color: #fff;
}

.transactionHead th {
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
}

.transactionBody td {
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
    text-transform: capitalize;
}

.transactionBody td:first-child {
    text-align: left;
    width: 100px;
}

.transactionBody tr:nth-child(odd) {
    background-color: #ffffff;
}

.transactionBody tr:nth-child(even) {
    background-color: #D3D3D3;
}

.transactionBody tr:hover {
    background-color: #f1f1f1;
}